/*
  when dealing with CSS make sure you know that you're editing what you think you are.
*/
/* .form {
  display: flex;
  background: aquamarine;
  width: 500px;
  height: 500px;
  border: 2px solid red;
  border-radius: 4px;
}

.company {
  color: mediumslateblue;
  border: 5px solid salmon;
}

.market {
  margin-top: -20px;
} */
  /* @font-face {
  font-family: "DIN Pro";
  font-style: normal;
  src: url(https://d2ue93q3u507c2.cloudfront.net/assets/generated_assets/e0be9bd5e372b2c379893b776e7b2b96.otf) format(“opentype”);
  } */
/* /* */

.paragraphs {
  width:300px;
  height: 275px;
}

.companyName {
  font-family: 'DIN Pro', -apple-system, BlinkMacSystemFont, sans-serif;
  font-style: normal;
  font-weight: normal;
  margin-top: 10px;
  height: 48px;
}

.topDiv {
  font-family: 'DIN Pro', -apple-system, BlinkMacSystemFont, sans-serif;
  font-style: normal;
  font-weight: normal;
}

.dropNav {
  position: absolute;
  display: none;
}

.moveSpan {
  margin-bottom: 14px;
  margin-left: 74px;
}
.dropNav li {
  border-bottom: rgba(255, 255, 255, .2)
}

.dropDown:hover > .dropNav {
  background-color: #1ae9aa;
  display: block;
}

.buyOptions {
  margin-left: 176px;
  color: #1ae9aa;
  position: relative;
}

.form {
  display: flex;
  /*position: relative;*/
  border: 10px;
  border-style: outset;
  width: 275.77px;
  height: 354px;
  color: white;
  background-color: #1b1b1d;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.01), 0 3px 24px rgba(0, 0, 0, 0.6);
  background: #1b1b1d;
  border-color: #0e0d0d;
  padding: 0 24px;
  border: none;
  box-sizing: inherit;
  font-family: "DIN Pro", -apple-system, BlinkMacSystemFont, sans-serif;
  font-style: normal;  
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.25px;
  line-height: 19px;
  justify-content: center;
  margin-left: 875px;
  position: -webkit-sticky;  // required for Safari
  position: sticky;
  top: 0; 
 }
 
 .buyingPower {
  display: block;
  position: relative;
  border-style: outset;
  box-shadow: 0 0 4px 1px;
  border-color: #f4f4f5;
  padding: 0 24px;
  width: 275.77px;
  height: 48px;
  background-color: #1b1b1d;
  color: white;
  font-family: "DIN Pro", -apple-system, BlinkMacSystemFont, sans-serif;
  font-style: normal;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.01), 0 3px 24px rgba(0, 0, 0, 0.6);
  background: #1b1b1d;
  border: none;
  box-sizing: inherit;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.25px;
  line-height: 19px;
  margin-left: 875px;
 }

 .orderType {
   width: 28px;
   height: 28px;
   margin-left: 240px;
   margin-bottom: 440px;
   margin-top: -15px;
  }

  .marketPriceContainer {
    width:275.77px;
    height: 42px;  
  }
  
  .shareField {
    width: 82px;
    height: 36px;
    margin-left: 140px;
    background-color: #171718;
    color: #7c7c7e;
    border-radius: 5px;
  } 
  
  .marketPrice {
    width: 27.77px;
    height: 48px;
    margin-left: 140px;
    color: white;
  }
  
  .marketPriceTitle {
    color: #1ae9aa;
  }
  
  .estimatedPriceContainer {
    width:275.77px;
    height: 42px;
    border-top: 1px solid;
    border-color: #1ae9aa;
    align-items: center;
    display: flex;
    height: 48px;
    justify-content: space-between;
    white-space: nowrap;
  }
  
  .estimatedCost {
    width: 227.77px;
    height: 48px;
    margin-left: 140px;
  }
  
  .label{
  align-items: center;
  display: flex;
  height: 48px;
  justify-content: space-between;
  white-space: nowrap;
  }

  .reviewOrder {
    display: inline-block;
    width: 227.77px;
    height: 48px;
    background: #1ae9aa;
    border-color:#1ae9aa;
    text-align: center;
    font-family: "DIN Pro", -apple-system, BlinkMacSystemFont, sans-serif;
    font-style: normal;
    font-weight: bold;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    justify-content: center;
  }
  
  .reviewOrderContainer {
    width: 230.77px;
    height: 48px;
    margin-top: 20px;
    margin-left: 23px;  
  }
  
  .ellipsesBox {
    background-color: white;
  }

  .ellipses {
    fill: white;
    margin-top: -20px;
  }

  
  .watchListContainer {
    display: inline-block;
    width: 227.77px;
    height: 48px;
    text-align: center;
    margin-left: 923px;
    margin-top: 24px;
  }
  
  .watchList {
    width: 227.77px;
    height: 48px;
    background-color: #1ae9aa;
    border-color:#1ae9aa;
    color:#1ae9aa;
    text-align: center;
    font-family: "DIN Pro", -apple-system, BlinkMacSystemFont, sans-serif;
    font-style: normal;
    font-weight: bold;
    border: 1px solid ;
    border-radius: 4px;
    cursor: pointer;
    background: transparent;
  }
  /*
  user agent stylesheets are what is presented in the absence of a style sheet from the user or the site by the browser
  */

  
  /* .orderForm {
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.01), 0 3px 24px rgba(0, 0, 0, 0.6);
    background: #1b1b1d;
    border-color: #0e0d0d;
    padding: 0 24px;
    position: relative;
    border: none;
    box-sizing: inherit;
     
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.25px;
    line-height: 19px;
  }

  .cardHeader {
    align-items: center;
    border-bottom: 1px solid;
    display: flex;
    height: 52px;
    justify-content: space-between;
    margin: 0 -24px;
    padding: 4px 24px 0;
  }

  .companyName{
    margin-right: 12px;
    border-bottom: 2px solid transparent;
    height: 100%;
    padding-top: 12px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 22px;
    margin: 0;
    font-family: "DIN Pro", -apple-system, BlinkMacSystemFont, sans-serif;
    color: white;
  } */